@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Birthstone&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-anek: "Anek Latin", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-birthstone: "Birthstone", cursive;
  --color-brand-dark: #131314;
}

:root {
  background-color: #131314;
  color: white;
}

@layer base {
  @keyframes dust {
    from {
      transform: translate(0, 0) scale(1.1);
    }
    to {
      transform: translate(-2%, -2%) scale(1.1);
    }
  }

  .noise-bg {
    position: fixed;
    inset: -100%;
    width: 300%;
    height: 300%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='turbulence' baseFrequency='0.45' numOctaves='1' seed='3'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.6'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 120px 120px;
    opacity: 0.2;
    mix-blend-mode: normal;
    pointer-events: none;
    z-index: 50;
    animation: dust 40s linear infinite;
  }
}
